.promo {
  position: relative;
  background-image: image-set("../img/background/background-desktop@2x.webp" 2x,
                              "../img/background/background-desktop.webp" 1x);
  background-color: $color-bahama-blue;
  background-repeat: no-repeat;
  background-position: center -100px;
  width: 100%;
  min-height: 780px;
  margin-top: -100px;
  box-sizing: border-box;
  padding-top: 134px;
  color: $color-default-white;

  @include vp-1023 {
    background-size: cover;
    min-height: 640px;
    height: 640px;
    background-position: -123px 0;
  }

  @include vp-767 {
    min-height: 560px;
    height: 560px;
    background-position: -230px 0;
  }

  @media (min-width: (1920px)) {
    background-size: cover;
    height: auto;
    max-height: 780px;
  }

  & h2 {
    display: block;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 36px;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
      margin-left: 26px;
      margin-top: 44px;
      margin-bottom: 3px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
      margin-top: 14px;
      margin-left: 8px;
      margin-bottom: 10px;
    }
  }
}

.promo__description {
  display: block;
  font-family: $ff-secondary-font;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  margin-bottom: 47px;
  max-width: 690px;

  @include vp-1023 {
    margin-left: 26px;
    margin-bottom: 56px;
  }

  @include vp-767 {
    max-width: 410px;
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 44px;
  }
}

.promo__link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 42.5%;
  max-width: 700px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: $color-deep-sky-blue;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  padding: 15px 26px 19px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: $color-black-pearl;
  }

  @include vp-1023 {
    width: 57%;
    max-width: 500px;
    margin-left: 71px;
  }

  @include vp-767 {
    width: 94%;
    min-height: 40px;
    margin-left: 9px;
    padding: 10px 37px;
  }
}

.promo__text-button {
  @include vp-767 {
    display: none;
  }
}

.promo__mobile-text-button {
  display: none;

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
